#products {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 200px;
}

#products > img {
  width: 25%;
}

.selectors {
  display: flex;
  justify-content: space-around;
}

.card-product-infos {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: 100%;
}

.card-product-info-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-product-info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

#description {
  font-size: 15px;
}

