.container.confirmation {
  h1 {
    color: #C5C6C7;
    margin: 40px 0px;
  }

  .message {
    background-color: #C5C6C7;
    padding: 20px;
    h2 {

    }
  }
}

.card-trip.card-booking {
  height: 175px;
}
