<h1>Confirmation for your booking</h1>
<div>
  <h2>Hi <%= @booking.user.first_name %> <%= @booking.user.last_name %></h2>
  <p>Your booking for <strong><%= @booking.instrument.name %></strong> has been send to the rentie. You will receive a confirmation by email when your request will be accepted.</p>
  <p>Thank you for trusting Melody 🎵.</p>
</div>
