<div class="container confirmation">
  <h1>Booking Pending...</h1>
  <div class="message">
    <h2>Hi <%= @booking.user.first_name %> <%= @booking.user.last_name %>,</h2>
    <p>Your booking for <strong><%= @booking.instrument.name %></strong> has been sent to the rentie. You will receive a confirmation by email when your request will be accepted.</p>
    <p>Thank you for trusting Melody 🎵.</p>
    <%= link_to "See all instruments", instruments_path %>

  </div>
</div>
