<div class="container">
  <h2>Book <%= @instrument.name %></h1>

  <%= simple_form_for [@instrument, @booking] do |f| %>
    <%= f.input :content, label: "Description" %>
    <%= f.submit "Send a booking", class:"btn btn-primary" %>
  <% end %>
</div>
