<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <i class="fas fa-music" id="logo"></i>
  </a>
  <div class="user">
  <%# if the user is signed-in, display the dynamic code, else signed-in page %>
  <% if user_signed_in? %>
    <p>Welcome <%= current_user.first_name %></p>
  <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" id="text">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/instruments/new" id="text">Add instrument</a>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? && current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class:"avatar dropdown-toggle", id:"navbarDropdown", "data-toggle" => "dropdown" %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><%= link_to "Booking Requests", bookings_path %></a>
          <a class="dropdown-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
        </div>
      </li>
    </ul>
  </div>
</div>








