<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.spredthedub.com/wp-content/uploads/2016/07/std-banner-album-bg.jpg);">
  <div class="container" id="center-home">
    <h1 class="title">Melody</h1>
    <div class="home-description">
      <h4>Musicians equipping aspiring new musicians with the proper tools before they buy their own</h4>
    </div>
    <button name="button" type="submit" class="btn btn-light">
        <%= link_to "View all instruments", instruments_path %>
    </button>
  </div>
</div>



