.simple_form {
  margin-top: 30px;

  .form-group {
    color: #C5C6C7;
  }

  .form-inputs {
    color: #C5C6C7;
  }

  .text.optional {
    color: #C5C6C7;
    border-radius: 5px;
  }

  .form-actions.btn {
    color: #ffffff;
    background-color: #C5C6C7;
}
}
.btn-lg, .btn-group-lg > .btn {
  border-radius: 5px;
}
