.navbar-lewagon {
  justify-content: space-between;
  background: #0B0C10;
  background-opacity: 0.3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  display: flex;
}

.navbar .user > p {
  color: turquoise;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
